<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ng-options</title>
        <style type="text/css">
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
                display: none !important;
            }
        </style>
    </head>
    <body >

        <div ng-app="myApp" ng-controller="myControl" ng-cloak>

            <!-- <select  ng-model="myName" ng-options="item.name for item in arr"></select><br/> -->
            <select ng-model="myName" ng-change="change(myName)" id="demo2" ng-options="item.value as item.name for item in arr track by item"></select><br/>
            <br/>
            <br/>

        </div>
        <script type="text/javascript" src="../../jquery-1.12.4.js"></script>
        <script type="text/javascript" src="../../angular.min.js"></script>
        <script type="text/javascript">
            var app = angular.module("myApp",[]);
            app.controller('myControl',["$scope",function ($scope) {
                $scope.arr = [
                    {
                        value:"a1",
                        name:"alanzhang"
                    },
                    {
                        value:"b2",
                        name:"cynthia"
                    },
                    {
                        value:"c3",
                        name:"jin"
                    },
                    {
                        value:"d4",
                        name:"jarad"
                    },
                    {
                        value:"e5",
                        name:"tony"
                    },
                    {
                        value: "f6",
                        name:"jackie"
                    },{
                        value: "e53",
                        name: "tony"
                    }
                ];

                $scope.rand = function(index){
                    return  index;
                };

                $scope.change = function(name){
                    console.log(name);
                    console.log($scope.myName);
                };

                $scope.myName = $scope.arr[5];
                // $scope.myName = {
                //     value: "f6",
                //     name:"jackie"
                // };

            }]);

            // var ss = document.querySelector("#demo2").querySelector("[selected=selected]").value;

        </script>
</html>